*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png") ,url("../images/header_bg.png") , #FFF8F3;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn{
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 18.5px 35.5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
.logo h1 {
    font-size: 45px;
    font-weight: 900;
}
.text-center{
    text-align: center;
}
.color-orange{
    color: #FD6E0A;
}
nav {
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    justify-content: space-between; 
    text-align: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
#banner{
    margin: 45px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-container{
    max-width: 585px;
}
#banner .banner-container h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-container h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-container p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;    
}
#about,#skills,#resume{
    padding-top: 130px;
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.about-info .info-card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}
#skills .skills-container .skills-list{
    display: flex;
    gap: 24px;
}
#skills .skills-container .skills-list .skill-card{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    max-width: 267px;
    background-color: #ffffff;
    border-radius: 5px;;
}
#skills .skills-container .skills-list .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
#skills .skills-container .skills-list .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#skills .skills-container .skills-list .skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 115px auto 0;
    display: flex;
    gap: 24px;
}
#resume .resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 115px;
    margin-bottom: 30px;
    color: #474747;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
    margin-bottom: 30px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color:#757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    font-size: 16px; 
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .image a {
    margin-right: 24px;
}
.footer-container form input[type="text"] , .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    background-color: #ffffff;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}